<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
</head>
<body>
    <div id="container">
        <div id="label">
            <p style="outline:solid; text-align:center; width:200px">The current time and date:</p>
        </div>
        <div id="timedate" style="outline:solid; text-align:center; width:200px">
            <h1>{{ date }}</h1>
            <h1>{{ time }}</h1>
        </div>
    </div>
</body>
</html>
