* {
    padding: 0px;
    margin: 0px;
}

#container{
    width: 970px;
    font-family: Tahoma;
}

h1{
    color: black;
    size: 20px;
    margin: 20px 10px 20px 10px;
}

#square{
    margin: 20px 10px 20px 10px;
    background-color: blue;
    width: 140px;
    height: 140px;
}

#circle{
    margin: 20px 10px 20px 10px;
    background-color: blue;
    width: 140px;
    height: 140px;
    border-radius: 100px;
}

#triangle{
    margin: 20px 10px 20px 10px;
    background-color: transparent;
    width: 0px;
	height: 0px;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 140px solid blue;
}

#pacman{
    margin: 20px 10px 20px 10px;
    width: 0px;
    height: 0px;
    border-right: 70px solid transparent;
    border-top: 70px solid blue;
    border-left: 70px solid blue;
    border-bottom: 70px solid blue;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;

}
