*{
    padding: 0px;
    margin: 0px;
}

#container{
    width: 830px;
    padding: 10px;
}

table{
        border: 1px solid black;
        margin: 20px 0px 20px 0px;
}

td, th{
    width: 120px;
    text-align: left;
}

form{
    text-align: right;
    width: 300px;
    border-top: 1px solid black;
}

li{
    text-decoration: none;
    margin: 5px 0px 5px 0px;
}

#submit{
    margin-top: 20px;
}
