*{
    padding: 0px;
    margin: 0px;
}

#container{
    margin: 0px auto;
    width: 400px;
    font-family: arial;
}

#form{
    margin: 0px auto;
    padding-top: 100px;
}

#errors{
    border: 1px black solid;
    padding: 10px;
}
