*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Trebuchet MS1, Helvetica, sans-serif;
}

#container{
    width: 800px;
    padding: 100px 20px 20px 20px;
    background: white;
    margin: 0 auto;
}

p{
    margin-top: 20px;
    font-size: 12px;
}
